<title>Books</title>
{% extends 'system/base.html' %}


{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<!-- <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet"/> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/3a44b91f72.js" crossorigin="anonymous"></script>


<div class="container mt-5">
<table id="myTable" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr style="background-image: linear-gradient(#93A5CF , #E4EfE9);">
                <th>#</th>
                <th>Student PRN</th>
                <th>Book Title</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in books_issued %} 
            <tr class="bg-white">
                <td class="bg-white">{{ forloop.counter }}</td>
                <td class="bg-white">{{ issue.prn }}</td>
                <td class="bg-white">{{ issue.book_title }}</td>
                <td class="bg-white">{{ issue.issue_date }}</td>
                <td class="bg-white">{{ issue.due_date }}</td>
                <td class="bg-white text-center">
                    <a href="{% url 'delete_issue' issue.id %}"><i class="text-danger fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
    $('#myTable').DataTable();
});
    </script>
</div>
{% endblock body %}
