<title>Add New Book</title>
{% extends 'system/base.html' %}

{% block body %}
<div class="d-flex align-items-center justify-content-center bg-secondary" style="min-height: 90vh;">
    <div id="card" class="card m-3 p-3">
        <div class="card-body">
            <h4 class="text-center">ISSUE BOOK</h4>
            <form method="POST" class="form-inline">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="book_title" class="form-label">Book Title</label>
                    <input type="text" class="form-control" name="book_title" id="book_title"
                        placeholder="">
                </div>
               
                <div class="mb-3">
                    <label for="prn" class="form-label">Student PRN</label>
                    <input type="text" class="form-control" name="prn" id="prn"
                        placeholder="">
                </div>
               
             
          
                <button type="submit" class="btn btn-success">Add Book</button>
            </form>
        </div>
    </div>
</div>


<script>

</script>

{% endblock %}